<div class="login-form">
  <h2>Login to continue</h2>
  <label for="i_username">Username</label>
  <input id="i_username" type="text" name="username" autocomplete="off"/>
  <label for="i_password">Password</label>
  <input type="password" name="password"/>
  <button>Sign In</button>
</div>

<div class="bg background-image">
  <div class="bgimg"></div>
  <div class="bgoverlay"></div>
</div>
